---
import { type CollectionEntry } from "astro:content";
type Props = {
  post: CollectionEntry<"posts">;
};

const { post } = Astro.props;
---

<a href={`/blog/${post.id}`} rel="noopener noreferrer" class="project-card">
  <abbr title={post.data.title} class="no-underline">
    <div
      class="from-base-200 to-base-200 hover:to-base-300 border-base-300 hover:border-primary h-full rounded-lg border bg-gradient-to-b p-4 transition duration-500 ease-in-out hover:scale-105"
    >
      <div class="mb-1 truncate text-xl font-semibold">
        {post.data.title}
      </div>
      <p class="text-base-content/70 mb-1 line-clamp-2 text-pretty">
        {post.data.description}
      </p>
      <div class="text-base-content/50 truncate text-sm">
        <p>
          Published: {post.data.pubDate.toLocaleDateString("en-US")}
        </p>
        <p>
          Tags:
          {
            post.data.tags.map((tag, index) => (
              <span>
                {`${tag}${index < post.data.tags.length - 1 ? ", " : ""}`}
              </span>
            ))
          }
        </p>
      </div>
    </div>
  </abbr>
</a>
