---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

interface Props {
  title?: string;
  points?: Array<string>;
  stack?: Array<string>;
  link?: string;
  image?: string;
}

const {
  title = "Project",
  points = ["Placeholder 1", "Placeholder 2"],
  stack = ["Stack 1", "Stack 2"],
  link = "https://github.com/wintertia",
  image = "placeholder.svg",
} = Astro.props;

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/images/project-thumbnails/*.{jpg,jpeg,png,svg}",
);
const imagePath = (await images[`/src/images/project-thumbnails/${image}`]())
  .default;
---

<a href={link} target="_blank" rel="noopener noreferrer" class="project-card">
  <div
    class="card bg-base-200 border-neutral hover:border-secondary h-full max-w-100 overflow-hidden rounded-xl border-2 shadow-xl transition duration-500 ease-in-out hover:scale-105"
  >
    <Image
      src={imagePath}
      width={600}
      height={400}
      alt={`Thumbnail for ${title}`}
    />
    <div class="card-body gap-4">
      <h2 class="card-title">
        {title}
      </h2>
      <div class="card-actions justify-start">
        {
          stack.map((stack) => (
            <div class="badge badge-outline badge-secondary">{stack}</div>
          ))
        }
      </div>
      <ul class="list-inside list-disc">
        {points.map((point) => <li>{point}</li>)}
      </ul>
    </div>
  </div>
</a>
