---
import projects from "../data/projects.json";
import ProjectCard from "./ProjectCard.astro";
---

<div
  class="bg-base-100 relative min-h-[calc(100vh-4rem)] bg-[url('/src/images/backgrounds/grid-haikei.svg')] bg-repeat py-20"
>
  <div
    class="from-base-100 absolute inset-0 z-0 h-full w-full bg-gradient-to-b via-transparent to-transparent"
  >
  </div>
  <div
    class="text-shadow-base-100/50 relative z-10 mx-auto justify-self-center text-center text-4xl font-bold text-shadow-lg"
  >
    <p class="project-title">My Stuff</p>
    <div class="project-subtitle text-base-content/30 my-2 text-lg italic">
      More coming soon...
    </div>
  </div>
  <div
    class="align-stretch relative z-10 m-8 flex min-h-100 flex-row flex-wrap justify-center gap-8"
  >
    {
      projects.data.map((project) => (
        <ProjectCard
          title={project.title}
          points={project.points}
          stack={project.stack}
          link={project.link}
          image={project.image}
        />
      ))
    }
  </div>
</div>
