---
import { Image } from "astro:assets";
import projects from "../data/projects.json";
import BlockWave from "../images/blockwavemoon.png";
import ProjectCard from "./ProjectCard.astro";
---

<div class="relative py-16">
  <Image
    src={BlockWave}
    alt="Block wave background"
    class="absolute inset-0 -z-20 h-full w-full object-cover"
    width={2560}
    height={1230}
    format="webp"
    quality={80}
  />

  <div
    class="from-base-100 absolute inset-0 -z-10 h-full w-full bg-gradient-to-b via-transparent to-transparent"
  >
  </div>
  <div
    class="from-base-200 absolute inset-0 -z-10 h-full w-full bg-gradient-to-t via-transparent to-transparent"
  >
  </div>

  <div class="mx-auto justify-self-center text-center text-4xl font-bold">
    My Stuff
  </div>
  <div
    class="align-stretch m-8 flex min-h-100 flex-row justify-center gap-8 overflow-scroll"
  >
    {
      projects.data.map((project) => (
        <ProjectCard
          title={project.title}
          points={project.points}
          stack={project.stack}
          link={project.link}
          image={project.image}
        />
      ))
    }
  </div>
</div>
